@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import "./variable.styl"
body, html
  line-height: 1
  font-family: 'Lato', sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  color: $color-text
  background $color-background-white

h1, h2, h3, h4
  font-size: 24
  font-weight: 700
  line-height: 1.5
  text-transform: uppercase
  margin-bottom: 1em
  color: $color-font-theme

p, li
  display: block
  text-align: justify
  margin: 0 0 2em 0
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-size: 12px
  font-weight: 300
  line-height: 1.5
